---
layout: default
home: true
js:
- instance-common
- stacks
css:
- home
- instance
- stacks
seo-title: Stacks
permalink: /instance/stacks/
---
{% assign t = site.data[site.active_lang] %}
<!-- Welcome header -->
<div class="bx--grid bx--grid--full-width">
    <div class="bx--row">
        <div class="bx--col">
            <h1>{{t.instance.instances}}</h1>
        </div>
    </div>

    <!-- Instance Accordion -->
    <div class="bx--row">
        <div class="bx--col-xlg-4">
            <div class="bx--row">
                <div class="bx--col">
                    <ul data-accordion class="bx--accordion" id="instance-accordion">
                        <li id="error-li" data-accordion-item class="bx--accordion__item hide">
                            <button class="bx--accordion__heading accordion-title" aria-expanded="false"
                                aria-controls="paneError">
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
                                    class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16"
                                    aria-hidden="true">
                                    <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
                                </svg>
                                <div class="bx--accordion__title">{{t.instance.no-instances}}</div>
                            </button>
                            <div id="paneError" class="bx--accordion__content hidden" data-hubName="n/a"
                                data-appsodyURL="n/a" data-codewindURL="n/a" data-stacks="" data-cliURL="n/a">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Kabanero Stacks table -->
        <div class="bx--col-xlg">
            <div class="bx--row">
                <div class="bx--col-xlg">
                    <div id="stack-table-container">
                        <!-- Sync stack refresh icon -->
                        <div class="sync-stacks-button">
                            <button
                                class="bx--tooltip__trigger bx--tooltip--a11y bx--tooltip--left bx--tooltip--align-start">
                                <span class="bx--assistive-text">{{t.instance.sync-tooltip}}</span>
                                <svg class="margin-right-icon" width="30" height="30" fill="#ffffff">
                                    <use xlink:href="/img/carbon-icons/carbon-icons.svg#icon--schematics"></use>
                                </svg>
                            </button>
                        </div>
                        <h2>{{t.instance.stacks}}</h2>

                        <!-- stack governance selection -->
                        <div class="bx--row">
                            <div class="bx--col">
                                <div class="bx--form-item">
                                    <div id="stack-govern-dropdown" class="bx--dropdown__wrapper">
                                        <span id="stack-govern-label" class="bx--label">{{t.instance.stack-govern.policy}}</span>
                                        <div id="stack-govern-value" data-dropdown data-value class="bx--dropdown">
                                            <button class="bx--dropdown-text" aria-haspopup="true" aria-expanded="false"
                                                aria-controls="stack-govern-menu"
                                                aria-labelledby="stack-govern-label stack-govern-value-text"
                                                type="button">
                                                <span class="bx--dropdown-text__inner" id="stack-govern-value-text">
                                                    {{t.common.loading}}
                                                </span>
                                                <span class="bx--dropdown__arrow-container">
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        style="will-change: transform;"
                                                        xmlns="http://www.w3.org/2000/svg" class="bx--dropdown__arrow"
                                                        width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                                        <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                                                    </svg>
                                                </span>
                                                <svg id="digest-checkmark" class="green-checkmark-fill hide" width="13" height="13">
                                                    <use xlink:href="/img/carbon-icons/carbon-icons.svg#icon--checkmark"></use>
                                                </svg>
                                            </button>
                                            <ul class="bx--dropdown-list" role="menu" tabindex="0"
                                                id="stack-govern-menu" aria-hidden="true" wh-menu-anchor="left"
                                                aria-labelledby="stack-govern-label">
                                                <li data-option data-value="strictDigest" class="bx--dropdown-item"
                                                    title="{{t.instance.stack-govern.strictDigest}}">
                                                    <a class="bx--dropdown-link" href="javascript:void(0)" tabindex="-1"
                                                        role="menuitemradio" aria-checked="true"
                                                        id="stack-govern-item0">{{t.instance.stack-govern.strictDigest}}</a>
                                                </li>
                                                <li data-option data-value="activeDigest" class="bx--dropdown-item"
                                                    title="{{t.instance.stack-govern.activeDigest}}">
                                                    <a class="bx--dropdown-link" href="javascript:void(0)" tabindex="-1"
                                                        role="menuitemradio" aria-checked="false"
                                                        id="stack-govern-item1">{{t.instance.stack-govern.activeDigest}}</a>
                                                </li>
                                                <li data-option data-value="ignoreDigest" class="bx--dropdown-item"
                                                    title="{{t.instance.stack-govern.ignoreDigest}}">
                                                    <a class="bx--dropdown-link" href="javascript:void(0)" tabindex="-1"
                                                        role="menuitemradio" aria-checked="false"
                                                        id="stack-govern-item2">{{t.instance.stack-govern.ignoreDigest}}</a>
                                                </li>
                                                <li data-option data-value="none" class="bx--dropdown-item"
                                                    title="{{t.instance.stack-govern.none}}">
                                                    <a class="bx--dropdown-link" href="javascript:void(0)" tabindex="-1"
                                                        role="menuitemradio" aria-checked="false"
                                                        id="stack-govern-item3">{{t.instance.stack-govern.noDigest}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                        {% include table-loader.html %}
                        <table id="stack-table" class="bx--data-table hide">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="bx--table-header-label">{{t.instance.data-table-headers.stack}}</span>
                                    </th>
                                    <th>
                                        <span
                                            class="bx--table-header-label">{{t.instance.data-table-headers.version}}</span>
                                    </th>
                                    <th>
                                        <span class="bx--table-header-label">{{t.instance.data-table-headers.status}}</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="stack-table-body"></tbody>
                        </table>
                        <div id="table-footer-cli-version">
                            <p>{{t.instance.cli-version}}</p>
                            <p id="cli-version"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Curated Stacks table -->
            <div class="bx--row">
                <div class="bx--col-xlg">
                    <div id="curated-stack-table-container">
                        <h2>{{t.instance.curated-stacks}}</h2>
                        {% include table-loader.html %}
                        <table id="curated-stack-table" class="bx--data-table hide">
                            <thead>
                                <tr>
                                    <th>
                                        <span
                                            class="bx--table-header-label">{{t.instance.data-table-headers.stack}}</span>
                                    </th>
                                    <th>
                                        <span
                                            class="bx--table-header-label">{{t.instance.data-table-headers.version}}</span>
                                    </th>
                                    <th>
                                        <span class="bx--table-header-label">{{t.instance.data-table-headers.images}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="curated-stack-table-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- templates -->
<li id="error-li-template" data-accordion-item class="bx--accordion__item hidden">
    <button class="bx--accordion__heading accordion-title" aria-expanded="false" aria-controls="paneError">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
            xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16"
            aria-hidden="true">
            <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
        </svg>
        <div class="bx--accordion__title">{{t.instance.no-instances}}</div>
    </button>
    <div id="paneError" class="bx--accordion__content hidden" data-hubName="n/a" data-appsodyURL="n/a"
        data-codewindURL="n/a" data-stacks="" data-cliURL="n/a">
    </div>
</li>

<li id="instance-li-template" data-accordion-item class="bx--accordion__item hidden">
    <button class="bx--accordion__heading accordion-title" aria-expanded="false"
        aria-controls="pane${this.instanceName}">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
            xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16"
            aria-hidden="true">
            <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
        </svg>
        <div class="bx--accordion__title"></div>
    </button>
    <div class="bx--accordion__content">
        <p class="gray-text">{{t.instance.date-created}}</p>
        <p class="creation-date"></p>
    </div>
</li>

<div data-modal id="deactivate-stack-modal-icon-active" class="bx--modal " role="dialog" aria-modal="true"
    tabindex="-1">
    <div class="bx--modal-container">
        <div class="bx--modal-header">
            <p class="bx--modal-header__heading bx--type-beta">{{t.instance.modal-confirmation-header}}</p>
            <button class="bx--modal-close" type="button" data-modal-close aria-label="close modal">
                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
                    xmlns="http://www.w3.org/2000/svg" class="bx--modal-close__icon" width="16" height="16"
                    viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M12 4.7L11.3 4 8 7.3 4.7 4 4 4.7 7.3 8 4 11.3 4.7 12 8 8.7 11.3 12 12 11.3 8.7 8z">
                    </path>
                </svg>
            </button>
        </div>
        <div class="bx--modal-content">
            <p>{{t.instance.modal-content}}</p>
            <span id="modal-stack-name"></span>&nbsp;
            <span id="modal-stack-version"></span>?
        </div>
        <div class="bx--modal-content--overflow-indicator"></div>

        <div class="bx--modal-footer">
            <button class="bx--btn bx--btn--secondary" type="button"
                data-modal-close>{{t.instance.modal-cancel-button}}</button>
            <button class="bx--btn bx--btn--primary" type="button" id="modal-confirm-deactivation"
                data-modal-close>{{t.instance.modal-deactivate-button}}</button>
        </div>
    </div>
    <!-- Note: focusable span allows for focus wrap feature within Modals -->
    <span tabindex="0"></span>
</div>