.factorypath
/.apt_generated/
/target/
/.settings/
.project
.classpath
.DS_Store
src/main/content/javadocs/*/stylesheet.css
/_site
.asset-cache
.jekyll-cache
/bin/
/build/
node_modules
oauth

# Ignore all in src/main/webapp (generated jekyll site files) 
# except WEB-INF/ and META-INF/ which are still necessary to check in
src/main/webapp/*
!src/main/webapp/WEB-INF/
!src/main/webapp/META-INF/