<div class="container-fluid">
    <div id="header-title-row" class="row">
        <div id="header-title-col" class="col-md">
            <img class="cp4a-logo" src="/img/Kabanero_Logo_White_Text.png" alt="Kabanero Logo"/>
        </div>
    </div>
    <div id="header-row" class="row">
        <div id="header-col" class="col-md">
            <header>
                <nav class="navbar-expand-md navbar-light">
                    <a class="kabanero-enterprise" href="/">
                        <img src="/img/Kabanero_Logo_Hero.png" alt="Kabanero Logo"/>
                    </a>
                    <button id="nav-toggle-button" 
                        class="navbar-toggler bg-dark"
                        type="button" data-toggle="collapse" 
                        data-target="#navbarNav" 
                        aria-controls="#navbarNav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon navbar-inverse"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if page.url contains '/instance' %}active-nav{% endif %}" href="/instance">Instance</a>
                                <!--<a class="nav-link {% if page.url contains '/guides' %}active-nav{% endif %}" href="/guides">Guides</a>-->
                            </li>
                        </ul>
                        <a class="info-link {% if page.url == '/' %}hide{% endif %}" href="/" title="Welcome page">
                            <img src="/img/info-icon.png" alt="info icon"/>
                        </a>
                    </div>
                </nav>
            </header>
        </div>
    </div>
</div>