  
{% assign t = site.data[site.active_lang] %}

<aside class="bx--side-nav" data-side-nav>
    <nav class="bx--side-nav__navigation" role="navigation" aria-label="Side navigation">
        <header class="bx--side-nav__header bx--side-nav__toggle">
            <svg>
                <use xlink:href="/img/carbon-icons/carbon-icons.svg#icon--header--hamburger"></use>
            </svg>
        </header>

        <ul class="bx--side-nav__items">

            <!-- Home -->
            <li class="bx--side-nav__item {% if page.url == '/' %}bx--side-nav__item--active{% endif %}">
                <a class="bx--side-nav__link {% if page.url == '/' %}bx--side-nav__link--current{% endif %}" href="/"
                    aria-current="{% if page.url == '/' %}page{% endif %}">
                    <div class="bx--side-nav__icon bx--side-nav__icon--small">
                        <img src="/img/nav-home.svg"></img>
                    </div>
                    <span class="bx--side-nav__link-text">{{t._includes.header.home-button}}</span>
                </a>
            </li>

            <!-- Instance -->
            <li class="bx--side-nav__item {% if page.url contains '/instance' %}bx--side-nav__item--active{% endif %}">
                <a class="bx--side-nav__link {% if page.url contains '/instance' %}bx--side-nav__link--current{% endif %}"
                    href="/instance" aria-current="{% if page.url contains '/instance' %}page{% endif %}">
                    <div class="bx--side-nav__icon bx--side-nav__icon--small">
                        <svg class="icon">
                            <use xlink:href="/img/carbon-icons/carbon-icons.svg#icon--integration"></use>
                        </svg>
                    </div>
                    <span class="bx--side-nav__link-text">{{t._includes.header.instance-button}}</span>
                </a>
            </li>

            <!-- Docs -->
            <li class="bx--side-nav__item {% if page.url contains '/docs' %}bx--side-nav__item--active{% endif %}">
                <a class="bx--side-nav__link {% if page.url contains '/docs' %}bx--side-nav__link--current{% endif %}"
                    href="/docs" aria-current="{% if page.url contains '/docs' %}page{% endif %}">
                    <div class="bx--side-nav__icon bx--side-nav__icon--small">
                        <svg class="icon">
                            <use xlink:href="/img/carbon-icons/carbon-icons.svg#icon--document"></use>
                        </svg>
                    </div>
                    <span class="bx--side-nav__link-text">{{t._includes.header.docs-button}}</span>
                </a>
            </li>

            <!-- Guides -->
            <li class="bx--side-nav__item {% if page.url contains '/guides' %}bx--side-nav__item--active{% endif %}">
                <a class="bx--side-nav__link {% if page.url contains '/guides' %}bx--side-nav__link--current{% endif %}"
                    href="/guides" aria-current="{% if page.url contains '/guides' %}page{% endif %}">
                    <div class="bx--side-nav__icon bx--side-nav__icon--small">
                        <img src="/img/report-icon.svg"></img>
                    </div>
                    <span class="bx--side-nav__link-text">{{t._includes.header.guides-button}}</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>