<table class="table-loader bx--data-table bx--skeleton">
    <thead>
        <tr>
            <th>
                <span class="bx--table-header-label"></span>
            </th>
            <th>
                <span class="bx--table-header-label"></span>
            </th>
            <th>
                <span class="bx--table-header-label"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>